container {
	padding:5%;
}
.table {
	background-color: white;
}
h1 {
	color: #08fbb9;
	margin-bottom: 3%;
}
th {
	font-size: 1.5em;
	color: #424242;
}
p {
	color: #c7c9c8;
}
.grfirst {
	background-color: white;
}
.grfirst li {
	display: inline;
}
.listmember {
	display: inline-block;
}
.btnshow {
	width: 4%;
	padding: 4%;
	background-color: black;

	color: #08fbb9;
}
.btnedit {
	width: 4%;
	padding: 6%;
	background-color: black;

	color: #08fbb9;
}
.btnedition {
	width: 4%;
	padding: 1%;
	background-color: white;

	color: #08fbb9;
}
.btnback {
	width: 4%;
	padding: 1%;
	background-color: white;
	color: #08fbb9;
}
.btnhome {
	width: 3%;
	padding: 1%;
	background-color: black;
	color: #08fbb9;
}
.btnuser {
	width: 3%;
	padding: 1%;
	background-color: black;
	color: #08fbb9;
}